@charset "utf-8";

@media only screen and (min-width:1921px) {
    html {
        font-size: 101px
    }
}

@media only screen and (max-width:1920px) {
    html {
        font-size: 100px
    }
}

@media only screen and (max-width:1915px) {
    html {
        font-size: 99.74px
    }
}

@media only screen and (max-width:1910px) {
    html {
        font-size: 99.48px
    }
}

@media only screen and (max-width:1905px) {
    html {
        font-size: 99.22px
    }
}

@media only screen and (max-width:1900px) {
    html {
        font-size: 98.96px
    }
}

@media only screen and (max-width:1895px) {
    html {
        font-size: 98.7px
    }
}

@media only screen and (max-width:1890px) {
    html {
        font-size: 98.44px
    }
}

@media only screen and (max-width:1885px) {
    html {
        font-size: 98.18px
    }
}

@media only screen and (max-width:1880px) {
    html {
        font-size: 97.92px
    }
}

@media only screen and (max-width:1875px) {
    html {
        font-size: 97.66px
    }
}

@media only screen and (max-width:1870px) {
    html {
        font-size: 97.4px
    }
}

@media only screen and (max-width:1865px) {
    html {
        font-size: 97.14px
    }
}

@media only screen and (max-width:1860px) {
    html {
        font-size: 96.88px
    }
}

@media only screen and (max-width:1855px) {
    html {
        font-size: 96.61px
    }
}

@media only screen and (max-width:1850px) {
    html {
        font-size: 96.35px
    }
}

@media only screen and (max-width:1845px) {
    html {
        font-size: 96.09px
    }
}

@media only screen and (max-width:1840px) {
    html {
        font-size: 95.83px
    }
}

@media only screen and (max-width:1835px) {
    html {
        font-size: 95.57px
    }
}

@media only screen and (max-width:1830px) {
    html {
        font-size: 95.31px
    }
}

@media only screen and (max-width:1825px) {
    html {
        font-size: 95.05px
    }
}

@media only screen and (max-width:1820px) {
    html {
        font-size: 94.79px
    }
}

@media only screen and (max-width:1815px) {
    html {
        font-size: 94.53px
    }
}

@media only screen and (max-width:1810px) {
    html {
        font-size: 94.27px
    }
}

@media only screen and (max-width:1805px) {
    html {
        font-size: 94.01px
    }
}

@media only screen and (max-width:1800px) {
    html {
        font-size: 93.75px
    }
}

@media only screen and (max-width:1795px) {
    html {
        font-size: 93.49px
    }
}

@media only screen and (max-width:1790px) {
    html {
        font-size: 93.23px
    }
}

@media only screen and (max-width:1785px) {
    html {
        font-size: 92.97px
    }
}

@media only screen and (max-width:1780px) {
    html {
        font-size: 92.71px
    }
}

@media only screen and (max-width:1775px) {
    html {
        font-size: 92.45px
    }
}

@media only screen and (max-width:1770px) {
    html {
        font-size: 92.19px
    }
}

@media only screen and (max-width:1765px) {
    html {
        font-size: 91.93px
    }
}

@media only screen and (max-width:1760px) {
    html {
        font-size: 91.67px
    }
}

@media only screen and (max-width:1755px) {
    html {
        font-size: 91.41px
    }
}

@media only screen and (max-width:1750px) {
    html {
        font-size: 91.15px
    }
}

@media only screen and (max-width:1745px) {
    html {
        font-size: 90.89px
    }
}

@media only screen and (max-width:1740px) {
    html {
        font-size: 90.63px
    }
}

@media only screen and (max-width:1735px) {
    html {
        font-size: 90.36px
    }
}

@media only screen and (max-width:1730px) {
    html {
        font-size: 90.1px
    }
}

@media only screen and (max-width:1725px) {
    html {
        font-size: 89.84px
    }
}

@media only screen and (max-width:1720px) {
    html {
        font-size: 89.58px
    }
}

@media only screen and (max-width:1715px) {
    html {
        font-size: 89.32px
    }
}

@media only screen and (max-width:1710px) {
    html {
        font-size: 89.06px
    }
}

@media only screen and (max-width:1705px) {
    html {
        font-size: 88.8px
    }
}

@media only screen and (max-width:1700px) {
    html {
        font-size: 88.54px
    }
}

@media only screen and (max-width:1695px) {
    html {
        font-size: 88.28px
    }
}

@media only screen and (max-width:1690px) {
    html {
        font-size: 88.02px
    }
}

@media only screen and (max-width:1685px) {
    html {
        font-size: 87.76px
    }
}

@media only screen and (max-width:1680px) {
    html {
        font-size: 87.5px
    }
}

@media only screen and (max-width:1675px) {
    html {
        font-size: 87.24px
    }
}

@media only screen and (max-width:1670px) {
    html {
        font-size: 86.98px
    }
}

@media only screen and (max-width:1665px) {
    html {
        font-size: 86.72px
    }
}

@media only screen and (max-width:1660px) {
    html {
        font-size: 86.46px
    }
}

@media only screen and (max-width:1655px) {
    html {
        font-size: 86.2px
    }
}

@media only screen and (max-width:1650px) {
    html {
        font-size: 85.94px
    }
}

@media only screen and (max-width:1645px) {
    html {
        font-size: 85.68px
    }
}

@media only screen and (max-width:1640px) {
    html {
        font-size: 85.42px
    }
}

@media only screen and (max-width:1635px) {
    html {
        font-size: 85.16px
    }
}

@media only screen and (max-width:1630px) {
    html {
        font-size: 84.9px
    }
}

@media only screen and (max-width:1625px) {
    html {
        font-size: 84.64px
    }
}

@media only screen and (max-width:1620px) {
    html {
        font-size: 84.38px
    }
}

@media only screen and (max-width:1615px) {
    html {
        font-size: 84.11px
    }
}

@media only screen and (max-width:1610px) {
    html {
        font-size: 83.85px
    }
}

@media only screen and (max-width:1605px) {
    html {
        font-size: 83.59px
    }
}

@media only screen and (max-width:1600px) {
    html {
        font-size: 83.33px
    }
}

@media only screen and (max-width:1595px) {
    html {
        font-size: 83.07px
    }
}

@media only screen and (max-width:1590px) {
    html {
        font-size: 82.81px
    }
}

@media only screen and (max-width:1585px) {
    html {
        font-size: 82.55px
    }
}

@media only screen and (max-width:1580px) {
    html {
        font-size: 82.29px
    }
}

@media only screen and (max-width:1575px) {
    html {
        font-size: 82.03px
    }
}

@media only screen and (max-width:1570px) {
    html {
        font-size: 81.77px
    }
}

@media only screen and (max-width:1565px) {
    html {
        font-size: 81.51px
    }
}

@media only screen and (max-width:1560px) {
    html {
        font-size: 81.25px
    }
}

@media only screen and (max-width:1555px) {
    html {
        font-size: 80.99px
    }
}

@media only screen and (max-width:1550px) {
    html {
        font-size: 80.73px
    }
}

@media only screen and (max-width:1545px) {
    html {
        font-size: 80.47px
    }
}

@media only screen and (max-width:1540px) {
    html {
        font-size: 80.21px
    }
}

@media only screen and (max-width:1535px) {
    html {
        font-size: 79.95px
    }
}

@media only screen and (max-width:1530px) {
    html {
        font-size: 79.69px
    }
}

@media only screen and (max-width:1525px) {
    html {
        font-size: 79.43px
    }
}

@media only screen and (max-width:1520px) {
    html {
        font-size: 79.17px
    }
}

@media only screen and (max-width:1515px) {
    html {
        font-size: 78.91px
    }
}

@media only screen and (max-width:1510px) {
    html {
        font-size: 78.65px
    }
}

@media only screen and (max-width:1505px) {
    html {
        font-size: 78.39px
    }
}

@media only screen and (max-width:1500px) {
    html {
        font-size: 78.13px
    }
}

@media only screen and (max-width:1495px) {
    html {
        font-size: 77.86px
    }
}

@media only screen and (max-width:1490px) {
    html {
        font-size: 77.6px
    }
}

@media only screen and (max-width:1485px) {
    html {
        font-size: 77.34px
    }
}

@media only screen and (max-width:1480px) {
    html {
        font-size: 77.08px
    }
}

@media only screen and (max-width:1475px) {
    html {
        font-size: 76.82px
    }
}

@media only screen and (max-width:1470px) {
    html {
        font-size: 76.56px
    }
}

@media only screen and (max-width:1465px) {
    html {
        font-size: 76.3px
    }
}

@media only screen and (max-width:1460px) {
    html {
        font-size: 76.04px
    }
}

@media only screen and (max-width:1455px) {
    html {
        font-size: 75.78px
    }
}

@media only screen and (max-width:1450px) {
    html {
        font-size: 75.52px
    }
}

@media only screen and (max-width:1445px) {
    html {
        font-size: 75.26px
    }
}

@media only screen and (max-width:1440px) {
    html {
        font-size: 75px
    }
}

@media only screen and (max-width:1435px) {
    html {
        font-size: 74.74px
    }
}

@media only screen and (max-width:1430px) {
    html {
        font-size: 74.48px
    }
}

@media only screen and (max-width:1425px) {
    html {
        font-size: 74.22px
    }
}

@media only screen and (max-width:1420px) {
    html {
        font-size: 73.96px
    }
}

@media only screen and (max-width:1415px) {
    html {
        font-size: 73.7px
    }
}

@media only screen and (max-width:1410px) {
    html {
        font-size: 73.44px
    }
}

@media only screen and (max-width:1405px) {
    html {
        font-size: 73.18px
    }
}

@media only screen and (max-width:1400px) {
    html {
        font-size: 72.92px
    }
}

@media only screen and (max-width:1395px) {
    html {
        font-size: 72.66px
    }
}

@media only screen and (max-width:1390px) {
    html {
        font-size: 72.4px
    }
}

@media only screen and (max-width:1385px) {
    html {
        font-size: 72.14px
    }
}

@media only screen and (max-width:1380px) {
    html {
        font-size: 71.88px
    }
}

@media only screen and (max-width:1375px) {
    html {
        font-size: 71.61px
    }
}

@media only screen and (max-width:1370px) {
    html {
        font-size: 71.35px
    }
}

@media only screen and (max-width:1365px) {
    html {
        font-size: 71.09px
    }
}

@media only screen and (max-width:1360px) {
    html {
        font-size: 70.83px
    }
}

@media only screen and (max-width:1355px) {
    html {
        font-size: 70.57px
    }
}

@media only screen and (max-width:1350px) {
    html {
        font-size: 70.31px
    }
}

@media only screen and (max-width:1345px) {
    html {
        font-size: 70.05px
    }
}

@media only screen and (max-width:1340px) {
    html {
        font-size: 69.79px
    }
}

@media only screen and (max-width:1335px) {
    html {
        font-size: 69.53px
    }
}

@media only screen and (max-width:1330px) {
    html {
        font-size: 69.27px
    }
}

@media only screen and (max-width:1325px) {
    html {
        font-size: 69.01px
    }
}

@media only screen and (max-width:1320px) {
    html {
        font-size: 68.75px
    }
}

@media only screen and (max-width:1315px) {
    html {
        font-size: 68.49px
    }
}

@media only screen and (max-width:1310px) {
    html {
        font-size: 68.23px
    }
}

@media only screen and (max-width:1305px) {
    html {
        font-size: 67.97px
    }
}

@media only screen and (max-width:1300px) {
    html {
        font-size: 67.71px
    }
}

@media only screen and (max-width:1295px) {
    html {
        font-size: 67.45px
    }
}

@media only screen and (max-width:1290px) {
    html {
        font-size: 67.19px
    }
}

@media only screen and (max-width:1285px) {
    html {
        font-size: 66.93px
    }
}

@media only screen and (max-width:1280px) {
    html {
        font-size: 66.67px
    }
}

@media only screen and (max-width:1275px) {
    html {
        font-size: 66.41px
    }
}

@media only screen and (max-width:1270px) {
    html {
        font-size: 66.15px
    }
}

@media only screen and (max-width:1265px) {
    html {
        font-size: 65.89px
    }
}

@media only screen and (max-width:1260px) {
    html {
        font-size: 65.63px
    }
}

@media only screen and (max-width:1255px) {
    html {
        font-size: 65.36px
    }
}

@media only screen and (max-width:1250px) {
    html {
        font-size: 65.1px
    }
}

@media only screen and (max-width:1245px) {
    html {
        font-size: 64.84px
    }
}

@media only screen and (max-width:1240px) {
    html {
        font-size: 64.58px
    }
}

@media only screen and (max-width:1235px) {
    html {
        font-size: 64.32px
    }
}

@media only screen and (max-width:1230px) {
    html {
        font-size: 64.06px
    }
}

@media only screen and (max-width:1225px) {
    html {
        font-size: 63.8px
    }
}

@media only screen and (max-width:1220px) {
    html {
        font-size: 63.54px
    }
}

@media only screen and (max-width:1215px) {
    html {
        font-size: 63.28px
    }
}

@media only screen and (max-width:1210px) {
    html {
        font-size: 63.02px
    }
}

@media only screen and (max-width:1205px) {
    html {
        font-size: 62.76px
    }
}

@media only screen and (max-width:1200px) {
    html {
        font-size: 62.5px
    }
}

@media only screen and (max-width:1195px) {
    html {
        font-size: 62.24px
    }
}

@media only screen and (max-width:1190px) {
    html {
        font-size: 61.98px
    }
}

@media only screen and (max-width:1185px) {
    html {
        font-size: 61.72px
    }
}

@media only screen and (max-width:1180px) {
    html {
        font-size: 61.46px
    }
}

@media only screen and (max-width:1175px) {
    html {
        font-size: 61.2px
    }
}

@media only screen and (max-width:1170px) {
    html {
        font-size: 60.94px
    }
}

@media only screen and (max-width:1165px) {
    html {
        font-size: 60.68px
    }
}

@media only screen and (max-width:1160px) {
    html {
        font-size: 60.42px
    }
}

@media only screen and (max-width:1155px) {
    html {
        font-size: 60.16px
    }
}

@media only screen and (max-width:1150px) {
    html {
        font-size: 59.9px
    }
}

@media only screen and (max-width:1145px) {
    html {
        font-size: 59.64px
    }
}

@media only screen and (max-width:1140px) {
    html {
        font-size: 59.38px
    }
}

@media only screen and (max-width:1135px) {
    html {
        font-size: 59.11px
    }
}

@media only screen and (max-width:1130px) {
    html {
        font-size: 58.85px
    }
}

@media only screen and (max-width:1125px) {
    html {
        font-size: 58.59px
    }
}

@media only screen and (max-width:1120px) {
    html {
        font-size: 58.33px
    }
}

@media only screen and (max-width:1115px) {
    html {
        font-size: 58.07px
    }
}

@media only screen and (max-width:1110px) {
    html {
        font-size: 57.81px
    }
}

@media only screen and (max-width:1105px) {
    html {
        font-size: 57.55px
    }
}

@media only screen and (max-width:1100px) {
    html {
        font-size: 57.29px
    }
}




/*侧边栏的小图标*/

.page-simple a {
    background: url(../images/icon_14.png) center center no-repeat;
}

.main-content {
    background: #f5f5f5;
    overflow: hidden;
    position: relative;
}








/* 顶部分类开始 */

.content-nav {
    width: 100%;
    height: 50px;
    overflow: hidden;
    background: #fff;
    position: relative;
    box-sizing: border-box;
}

.nav-bar-ul {
    float: left;
    width: 60%;
}

.nav-bar-li {
    float: left;
    width: 10%;
    height: 50px;
    line-height: 50px;
    margin-left: 2%;
    text-align: center;
}

.nav-bar-li>a {
    display: inline-block;
    color: #909090;
}

.nav-bar-li>a:hover {
    color: #f68271;
    border-bottom: 2px solid #f68271;
}

.nav-bar-li-current>a {
    color: #f68271;
    border-bottom: 2px solid #f68271;
    box-sizing: border-box;
    height: 50px;
}

.nav-bar-search {
    float: right;
    width: 40%;
    height: 50px;
    line-height: 50px;
    position: relative;
}

.nav-bar-search-edit {
    background: url('../images/edit.png') no-repeat;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 18px;
    right: 24%;
    display: none;
    z-index: 99;
}

.nav-bar-edit-show {
    display: block;
}

.nav-bar-search-add {
    width: 13px;
    height: 13px;
    position: absolute;
    left: 91%;
    top: 16px;
    cursor: pointer;
    border: 1px solid #a7a7a7;
    line-height: 12px;
    color: #a7a7a7;
    text-align: center;
}

.nav-bar-search-icon {
    display: inline-block;
    background: url('../images/search.png') no-repeat;
    width: 18px;
    height: 18px;
    position: absolute;
    left: 48%;
    top: 15px;
}

.nav-bar-search-text {
    display: inline-block;
    border: 1px solid #e4e4e4;
    padding: 8px;
    width: 40.5%;
    border-radius: 20px/50%;
    padding-left: 44px;
    position: absolute;
    top: 7px;
    right: 6%;
}

.nav-bar-search-btn {
    /* display: inline-block; */
    background: #f68271;
    position: absolute;
    height: 33px;
    line-height: 33px;
    left: 87%;
    top: 7px;
    width: 50px;
    text-align: center;
    border-radius: 0 60% 60% 0/0 70% 70% 0;
}


/* 左边资金划拨流程开始 */

.left {
    width: 14.5%;
    height: 1000px;
    float: left;
    margin-top: 10px;
    background: #fff;
    position: relative;
}

.tab-title {

    position: relative;
}

.tab-subtitle {
    cursor: pointer;
    width: 100%;
    height: .6rem;
    font-size: .16rem;
    color: #555555;
    line-height: .6rem;
    padding-left: 8.8%;
    position: relative;
    user-select: none;
}

.tab-subtitle:hover {
    color: #ffab8c;
}

.tab-subtitle-current {
    color: #ffab8c;
}

.close-tab-btn {
    width: .2rem;
    height: .24rem;
    color: #9b9b9b;
    position: absolute;
    top: .19rem;
    text-align: center;
    line-height: .24rem;
    border-radius: 64%;
    right: 2%;
    margin-left: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
    cursor: pointer;
    user-select: none;
    font-size: .15rem;
    background: url(../images/section-btn.png) no-repeat;
    background-position: center center;
    background-size: .14rem .08rem;
    transform: rotate(-90deg);
}

.close-tab-btn-current {
    transform: rotate(0deg);
}

.tab-section-arrows {
    background: url('../images/down2.png') no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    width: 16px;
    height: 8px;
    position: relative;
    top: 1px;
    left: 41%;
}

.tab-section-box {

    display: none;

    padding-bottom: 10px;

    border-bottom: 1px solid #f5f5f5;

    position: relative;
}

.tab-section-current {
    display: block;
    border-bottom: 1px solid #f5f5f5;
}

.tab-section {

    /* height: 34px; */
    line-height: 34px;

    padding-left: 11%;

    color: #9b9b9b;

    font-size: .14rem;

    cursor: pointer;

    margin-top: 8px;

    position: relative;

    user-select: none;
}

.tab-section-line {
    height: 1px;
    position: absolute;
    width: 100%;
}

.tab-section:hover {
    background-color: #f5f5f5;
}

.add-tab-section {

    height: 35px;

    width: 45%;

    border: 1px solid #ccc;

    color: #9b9b9b;

    text-align: center;

    line-height: 35px;

    margin-top: 19px;

    margin-left: 25%;

    cursor: pointer;

    user-select: none;
}

.tab-section-edit {
    background: url('../images/edit.png') no-repeat;
    width: 14px;
    height: 14px;
    position: absolute;
    left: 76%;
    bottom: 10px;
    cursor: pointer;
    display: none;
}

.tab-section-close {
    background: url('../images/close.png') no-repeat;
    width: 13px;
    height: 12px;
    position: absolute;
    left: 88%;
    bottom: 11px;
    cursor: pointer;
    display: none;
}

.tab-section:hover>.tab-section-edit,
.tab-section:hover>.tab-section-close {
    display: inline-block;
}

.section-description {
    position: absolute;
    top: 23px;
    right: 0%;
    background-color: #fff;
    width: 34%;
    padding-left: 5%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: -5px 6px 20px 0px #e7e7e7;
    z-index: 100;
    display: none;
}

/*关闭添加章节按钮*/

.close-section-add {
    background: url(../images/close.png) no-repeat;
    width: 14px;
    height: 14px;
    position: absolute;
    left: 5%;
    top: 19px;
    cursor: pointer;
}


/* 章 */

.section-description-chapter {

    padding-top: 10px;
}

.section-description-chapter>.chapter-number {

    font-size: .15rem;
    color: #555;
    line-height: 30px;
}

.section-description-chapter>.chapter-title {

    border: 1px solid #e5e5e5;

    width: 77%;

    line-height: 45px;

    margin-top: 10px;

    padding-left: 5%;
}








/* 条 */

.section-description-chapter-bar {
    padding-top: 20px;
}

.section-description-chapter-bar>.chapter-bar {
    font-size: .15rem;
    color: #555;
    line-height: 30px;
}

.section-description-chapter-bar>.chapter-bar-detail {
    border: 1px solid #e5e5e5;
    width: 77%;
    line-height: 45px;
    margin-top: 10px;
    padding-left: 5%;
}








/* 款 */

.section-description-chapter-kuan {

    margin-top: 20px;
}

.section-description-chapter-kuan>.chapter-kuan {
    font-size: .15rem;
    color: #555;
    line-height: 30px;
}

.section-description-chapter-kuan>.section-description-wbk {

    width: 76%;

    border: 1px solid #e5e5e5;

    padding-left: 5%;

    /* text-indent: 2em; */
}








/* 奖惩类型 */

.section-award-type {}

.section-award-type>.chapter-type {
    font-size: .15rem;
    color: #555;
    line-height: 30px;
}

.section-award-type>.chapter-jclx {}

.section-award-type>.chapter-jclx>span {
    display: inline-block;
    color: #333;
    line-height: 30px;
    border: 1px solid #dcdcdc;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 4px;
    position: relative;
    margin-right: 2%;
    cursor: pointer;
}

.section-award-type>.chapter-jclx>span>.chect-on {
    background: url('../images/clickon.png') no-repeat;
    width: 16px;
    height: 16px;
    position: absolute;
    bottom: 0;
    right: 0;
    display: none
}

.section-award-type>.chapter-jclx>span.current {
    border: 1px solid #f67281;
}

.section-award-type>.chapter-jclx>span.current>.chect-on {
    display: block;
}








/* 额度 */

.section-award-limit {}

.section-award-limit>.limit-name {
    font-size: .15rem;
    color: #555;
    line-height: 90px;
}

.section-award-limit>.limit-input {
    position: relative;
}

.section-award-limit>.limit-input>input {
    display: inline-block;
    border: 1px solid #e5e5e5;
    height: 40px;
    width: 11%;
    padding-left: 5%;
}

.section-award-limit>.limit-input>.yuefen {
    position: absolute;
    right: 74%;
    top: 0px;
    background-color: #e6e6e6;
    height: 42px;
    width: 10%;
    text-align: center;
    line-height: 42px;
    color: #555;
    cursor: pointer;
}








/* 按钮 */

.section-description-btn {

    margin-top: 43px;
}

.section-description-btn>.description-sure {
    display: inline-block;
    width: 18%;
    color: #fff;
    background-color: #f68271;
    border-radius: 5%;
    text-align: center;
    line-height: 30px;
}

.section-description-btn>.description-cancel {
    display: inline-block;
    width: 18%;
    color: #fff;
    background-color: #c2c2c2;
    border-radius: 5%;
    text-align: center;
    line-height: 30px;
    margin-left: 7%;
}








/* 左边资金划拨流程结束 */


/* 左边资金划拨流程结束 */


/* 中间内容开始 */

.middle {
    width: 58.5%;
    height: 1000px;
    margin-left: 0.6%;
    margin-right: 0.6%;
    float: left;
    margin-top: 10px;
    background: #fff;
    position: relative;
    overflow: hidden;
}

.normative-header {

    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
}

.normative-header-title {

    font-size: .20rem;
    color: #333333;
    width: 100%;
    text-align: center;
    line-height: 60px;
}

.normative-header-detail {

    width: 100%;
    text-align: center;
    color: #b1b1b1;
}

.normative-detail-title {
    position: relative;
    padding-left: 3%;
    color: #555555;
    line-height: 40px;
    font-size: .18rem;
}

.normative-detail-title>.title-add {
    background: url('../images/add.png') no-repeat;
    background-size: cover;
    width: 15px;
    height: 15px;
    position: absolute;
    left: 79%;
    top: 12px;
    cursor: pointer;
    display: none;
}

.normative-detail-title>.title-update {
    background: url('../images/edit.png') no-repeat;
    background-size: cover;
    width: 14px;
    height: 14px;
    position: absolute;
    left: 83%;
    top: 12.5px;
    cursor: pointer;
    display: none;
}

.normative-detail-title>.title-delete {
    background: url('../images/close.png') no-repeat;
    background-size: cover;
    width: 13px;
    height: 13px;
    position: absolute;
    left: 87%;
    top: 13px;
    cursor: pointer;
    display: none;
}

.normative-detail-title:hover {
    background-color: #f5f5f5;
}

.normative-detail-title:hover>.title-xtb {
    display: block;
}

.normative-detail-list-box {

padding-top: .12rem;

padding-bottom: .2rem;

width: 100%;

margin: 0 auto;
}

.normative-detail-list {

    position: relative;
    /* height: .45rem; */
}

.normative-detail-list>.kuan-add {
    background: url('../images/add.png') no-repeat;
    background-size: cover;
    width: .14rem;
    height: .14rem;
    position: absolute;
    left: 91%;
    top: .17rem;
    cursor: pointer;
    display: none;
}

.normative-detail-list>.kuan-update {
    background: url('../images/edit.png') no-repeat;
    background-size: cover;
    width: .14rem;
    height: .14rem;
    position: absolute;
    left: 94%;
    top: .17rem;
    cursor: pointer;
    display: none;
}

.normative-detail-list>.kuan-delete {
    background: url('../images/close.png') no-repeat;
    background-size: cover;
    width: .12rem;
    height: .12rem;
    position: absolute;
    left: 97%;
    top: .19rem;
    cursor: pointer;
    display: none;
}

.normative-detail-list:hover {
    background-color: #f5f5f5;
}

.normative-detail-list:hover>.kuan-xtb {
    display: block;
}

.normative-detail-content {
    line-height: .25rem;
    font-size: .15rem;
    color: #555555;
    width: 64%;
    float: left;
    /* white-space: nowrap; */
    /* text-overflow: ellipsis; */
    /* overflow: hidden; */
    text-indent: 2em;
    cursor: pointer;
    padding-left: .3rem;
    padding-top: .1rem;
    padding-bottom: .1rem;
    box-sizing: border-box;
}


.normative-detail-list>.whole-spans {

float: right;

line-height: .45rem;

color: #555555;

width: 34%;

text-align: left;

user-select: none;
}


.normative-detail-list>.whole-spans>span:first-child {

    color: green;
}

.look-test-icon {
    width: .2rem;
    height: .2rem;
    /* background-size: cover; */
    display: inline-block;
    background-color: #f68271;
    background: url('../images/well.png') no-repeat;
    background-size: cover;
    position: relative;
    top: .04rem;
    margin-left: 9%;
    cursor: pointer;
}

.look-test-icon-opt {
    border-radius: 50%;
    border: .01rem solid #e5e5e5;
    /* background: none; */
    width: .18rem;
    height: .18rem;
    background: #fff;
}

.look-test-btn {
    color: #999999;
    font-size: .15rem;
}


/*阅读情况开始*/

.update-publish {
    width: 1rem;
    height: .3rem;
    background-color: #f68271;
    color: #fff;
    font-size: .15rem;
    line-height: .3rem;
    text-align: center;
    position: absolute;
    left: 50%;
    margin-left: -.35rem;
    border-radius: 5px;
    cursor: pointer;
    top: -80px;
}

.read-situation {
    cursor: pointer;
    margin-top: 90px;
    position: relative;
}

.read-h {
    float: left;
    padding-left: 3%;
    margin-right: 4%;
    line-height: 80px;
    font-size: .15rem;
}

.read-h span {
    color: #f68271;
}

.num-circle {
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    background: #ff8957;
    float: left;
    text-align: center;
}

.num-circle .people {
    display: block;
    margin-top: .17rem;
    color: #fff;
    font-size: .16rem;
}

.num-circle .num {
    display: block;
    color: #fff;
    font-size: .16rem;
}

.read-bar {
    float: left;
    margin-left: 5%;
    width: 50%;
}

.opinion {
    margin-right: 2%;
    display: inline-block;
    font-size: .15rem;
}

.read-bar li {
    margin-bottom: 18px;
    font-size: .15rem;
}


.line-bottom {
    display: inline-block;
    width: 66%;
    height: 14px;
    position: relative;
    background: #f5f5f5;
    border-radius: 12px;
}

.line-top {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 12px;
}

.top1 {
    width: 0%;
    background: #ff6357;
}

.top2 {
    width: 0%;
    background: #ff9b38;
}

.top3 {
    width: 0%;
    background: #cccccc;
}

.read-bar .percent {
    width: 7%;
    display: inline-block;
}

.read-bar .p1 {
    color: #ff6357;
}

.read-bar .p2 {
    color: #ff9b38;
}

.read-bar .p3 {
    color: #cccccc;
}


/*阅读情况结束*/

.vision-statement {

    border-top: 1px solid #f5f5f5;

    position: absolute;

    bottom: -545px;

    width: 100%;

    background: #fff;

    height: 600px;
}

.vision-statement-hide {
    bottom: -190px;
}

.vision-statement-header {
    width: 100%;
    padding-left: 3%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.vision-statement-header>p:first-child {

    font-size: .15rem;
    color: #555555;
    float: left;
    line-height: 35px;
}

.vision-statement-number {

    float: left;
    font-size: .15rem;
    color: #555555;
    font-weight: 700;
    margin-left: 2.5%;
    line-height: 35px;
    cursor: pointer;
    text-align: center;
}

.vision-statement-title {
    font-size: .16rem;
    color: #555555;
    line-height: .35rem;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.vision-statement-current {
    color: #f68271;
    border-bottom: 2px solid #f68271;
}

.vision-statement-content {}

.vision-publish-time {

    font-size: .15rem;
    line-height: 35px;
    padding-left: 3%;
    color: #b1b1b1;
}

.vision-statement-detail-list-box {
    height: 498px;
    overflow: auto;
}

.vision-statement-detail-list-box::-webkit-scrollbar {
    display: none;
}

.vision-statement-detail-list {

    line-height: 38px;

    font-size: .15rem;

    color: #555555;

    width: 91%;

    /* white-space: nowrap; */
    /* text-overflow: ellipsis; */
    overflow: hidden;

    padding-left: 3%;

    text-indent: 2em;
}


/* 关闭版本说明的小箭头 */

.close-statement-btn {
    width: 40px;
    height: 24px;
    border: 1px solid #f68271;
    color: #f68271;
    position: absolute;
    top: -25px;
    text-align: center;
    line-height: 24px;
    border-radius: 50% 50% 0 0/80% 80% 0 0;
    left: 48%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
    cursor: pointer;
    /* z-index: 28; */
    background: #fff;
    font-size: .15rem;
}

.close-statement-btn>span {

position: relative;

display: inline-block;

overflow: hidden;

/* top: .02rem; */

height: 8px;

background-image: url(../images/1_03.png);

background-size: cover;

background-position: center center;

width: 14px;
}

.close-statement-btn>span.rotate {
    transform: rotate(180deg);
    /* top: 0; */
}





/* 关闭版本说明的小箭头结束 */


/* 中间内容结束 */


/* 右边题目开始 */

.all-test-title {

    font-size: .15rem;
    color: #f68271;
    line-height: 45px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.first-rule {

    padding-left: 5%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 17px;
}

.rules-content {

    color: #555555;
    line-height: 32px;
}

.rules-option-type {

    line-height: 39px;
    color: #555555;
}

.rules-option-type>span+span {
    margin-left: 18%;
}

.rules-option-type>span>i {
    color: #333333;
    font-style: normal;
}

.rules-option-list {}

.rules-option-list {}

.rules-option-list-lis {
    color: #555555;
    line-height: 35px;
}








/* 右边题目结束 */

.right {
    width: 25.78%;
    float: left;
    height: 1000px;
    margin-top: 10px;
    background: #fff;
    position: absolute;
    right: 0;
    overflow: auto;
}


/* 小懵逼要的样式开始 */

.all-test-title {

font-size: .19rem;

color: #f68271;

line-height: 45px;

border-bottom: .01rem solid #ccc;

text-align: center;

padding-left: 20px;
}

.first-rule {

padding-left: 5%;

border-bottom: 1px solid #ccc;

padding-bottom: 17px;

padding-right: 5%;

/* padding-top: 0px; */
}

.rule-title {

font-size: .16rem;

color: #f68271;

line-height: 52px;

padding-left: 5%;

/* border-bottom: 1px solid #ccc; */
}

.rules-content {
    position: relative;
    padding-right: 2%;
}

.rules-content-edit-btn {
    background: url(../images/edit.png) no-repeat;
    width: 14px;
    height: 14px;
    position: absolute;
    right: -3%;
    top: 10px;
    cursor: pointer;
    display: none;
}

.rules-content-edit-btn-show {
    display: block;
}

.rules-content-edit {

color: #555555;

line-height: .25rem;

border: 1px solid #e5e5e5;

padding: 5px 2% 5px 2%;

width: 95.5%;
}

.rules-option-type {

line-height: .4rem;

color: #555555;

margin-top: 14px;

display: flex;

justify-content: space-between;
}




.rules-option-list {}

.rules-option-list-lis {
    color: #555555;
    line-height: 35px;
}

.rules-option-type-pie {
    position: relative;
    width: 30%;
    display: flex;
    justify-content: space-between;
}


.option-type {

}

.option-menu {

position: relative;
}

.option-menu .option-box {

border: .01rem solid #dcdcdc;

width: 0.7rem;

cursor: pointer;
}

.option-menu .option-box .option {
    
width: 100%;
    
display: inline-block;
    
text-align: center;
    
/* margin-left: .1rem; */
}

.rules-option-pull-down {
    width: .14rem;
    height: .08rem;
    color: #9b9b9b;
    position: absolute;
    cursor: pointer;
    user-select: none;
    background-image: url(../images/section-btn.png);
    background-repeat: no-repeat;
    background-size: cover;
    top: .17rem;
    right: .05rem;
}

.rules-option-pull-down>span {

    position: relative;
    display: inline-block;
    overflow: hidden;
    top: 0;
    height: 12px;
    transform: rotate(270deg);
}

.rules-option-pull-down>span>i {
    font-style: normal;
    font-size: .38rem;
    display: inline-block;
    width: 100%;
    line-height: 42px;
    position: relative;
    top: -23px;
}

.rules-option-drop-down {
    position: absolute;
    /* width: 49.5%; */
    width: .7rem;
    left: 0;
    top: 40px;
    background: #fff;
    border: .01rem solid #e5e5e5;
}

.rules-option-drop-down>li {
    line-height: 30px;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rules-option-drop-down>li>span.letter {

display: inline-block;

width: .2rem;

text-align: center;
}

.rules-option-drop-down>li>.select-label {

display: inline-block;

width: .13rem;

height: .13rem;

border: .01rem solid #dcdcdc;

border-radius: 50%;

background-color: #fff;

background-image: none;

background-size: cover;

background-position: center center;
box-sizing:border-box;
overflow:hidden;
}

.rules-option-drop-down>li>.select-label.selected {
    background-image: url(../images/well.png);
    border: none
}

.rules-option-drop-down>li>.select-check {
    
display: none;
}


.rules-option-drop-down>li:hover {
    background: #f5f5f5;
}

.rules-option-drop-down>li:last-child:hover {
    background: #fff;
}

.rules-option-drop-down>li>.confirm {
    width: 50%;
    text-align: center;
    font-size: .12rem;
    display: inline-block;
}

.rules-option-drop-down>li>.confirm:hover {
    background-color: #f5f5f5;
}

.rules-option-drop-down-two {
    width: 50%;
    left: 40%;
}

.rules-option-drop-down-three {
    left: 40%;
}

/* 填写答案选项的地方 */

.rules-answer-input {}

.rules-answer-input-lis {}

.rules-answer-input-lis>span {
    display: inline-block;
    width: 10%;
    line-height: 44px;
}

.rules-answer-input-lis>input {
    display: inline-block;
    line-height: 40px;
    border: .01rem solid #e5e5e5;
    width: 87%;
    /* padding-left: 3%; */
    margin-top: 18px;
    color: #555;
    padding-left: .05rem;
}

.rules-comfirm-btn {

    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.rules-comfirm-btn-cancel {
    display: inline-block;
    height: 25px;
    color: #a7a7a7;
    border: 1px solid #a7a7a7;
    line-height: 25px;
    width: 13%;
    text-align: center;
    margin-right: 2%;
    border-radius: 16%;
}

.rules-comfirm-btn-sure {
    display: inline-block;
    background-color: #f68271;
    border: 1px solid #f68271;
    line-height: 25px;
    width: 13%;
    text-align: center;
    margin-right: 2%;
    border-radius: 16%;
}



/* 小懵逼要的样式结束 */



/* 右边题目结束 */

.classifier {

    position: absolute;

    right: 0;

    top: 60px;

    background-color: #fff;

    width: 510px;

    height: 1000px;

    box-shadow: -3px 3px 16px 3px #e7e7e7;

    padding-left: 20px;

    box-sizing: border-box;

    padding-right: 20px;

    display: none;
}

.classifier-tab {

    border-bottom: 1px solid #e7e7e7;
}

.classifier-tab>li {

    float: left;

    line-height: 60px;

    width: 86px;

    text-align: center;

    color: #9e9e9e;

    font-size: .15rem;

    cursor: pointer;

    border-bottom: 2px solid #fff;
}

.classifier-tab .current {

    border-bottom: 2px solid #ffab8c;
}

.classifier-title {

    position: relative;
}

.classifier-title .active {
    color: #ffab8c;
}

.classifier-title-list {

    cursor: pointer;

    display: none;
}

.classifier-subtitle {
    line-height: 56px;
    padding-left: 20px;
    color: #ffab8c;
    font-size: .16rem;
    position: relative;
    cursor: pointer;
}

.down-box {
    position: absolute;
    top: 27px;
    right: 66px;
    width: 20px;
    height: 7px;
    overflow: hidden;
    cursor: pointer;
    transform: rotate(-90deg);
}

.down-box>.down {

    width: 50px;

    display: inline-block;
    /* height: 20px; */
    font-size: .31rem;

    position: relative;

    line-height: 50px;

    font-style: normal;

    text-align: center;

    top: -25px;

    left: -15px;

    color: #9b9b9b;
}

.classifier-section {

    line-height: 34px;

    padding-left: 38px;

    color: #9b9b9b;

    font-size: .14rem;

    cursor: pointer;

    position: relative;

    user-select: none;

    border-top: 1px solid #e7e7e7;

    border-bottom: 1px solid #e7e7e7;
}



/*必读人群开始*/

.normative-header {
    position: relative;
}

.readPeople {
    position: absolute;
    right: 10px;
    bottom: 5px;
    width: 110px;
    height: 30px;
    border: 1px solid #b2b2b2;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    color: #b2b2b2;
    cursor: pointer;
}

.readPeople .text {
    background: url(../images/morep.png) no-repeat left center;
    padding-left: 22px;
}

.peopleShow {
    position: fixed;
    top: 116px;
    right: 0;
    width: 6rem;
    height: 700px;
    background: #fff;
    box-shadow: 0 0 30px #b2b2b2;
    border-radius: 5px;
    display: none;
}

.peopleShow .peopleShowHeader {
    position: relative;
    height: 68px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    line-height: 68px;
}

.peopleShow .peopleShowHeader h2 {
    color: #f68271;
    font-family: "微软雅黑";
    font-size: .25rem;
}

.peopleShow .peopleShowHeader .pClose {
    position: absolute;
    top: 26px;
    left: 30px;
    width: 22px;
    height: 22px;
    background: url(../images/close.png) no-repeat center center;
    background-size: cover;
    cursor: pointer;
}

.peopleShow .pList {
    padding-top: 40px;
    padding-left: 45px;
}

.peopleShow .pList .pitem {
    font-size: .14rem;
    line-height: 28px;
}

.section-tab>.section-tab-name {
    font-size: .15rem;
    color: #555;
    line-height: 90px;
}

.section-tab .tab-item {
    padding-top: 32px;
    overflow: hidden;
}

.section-tab .tab-item .tab-btn {
    float: left;
    width: 90px;
    height: 30px;
    border: 1px solid #ccc;
    color: #000;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    margin-right: 15px;
}

.section-tab .tab-item .tab-btn.active {
    border-color: #f68271;
    color: #f68271;
}

.section-tab .tab-com {
    padding-top: 25px;
}

.section-tab .tab-com .joblevel {
    padding-left: 10px;
    display: none;
}

.section-tab .tab-com .joblevel .levelList-item {
    position: relative;
    padding: 5px 0;
}

.section-tab .tab-com .joblevel .text {
    padding-left: 10px;
}

.section-tab .tab-com .joblevel .tip-text {
    position: absolute;
    top: 0;
    right: 20px;
}

input[type="checkbox"]+label {
    cursor: pointer;
    font-size: 1em;
}

[id^="checkbox-"]+label {
    background-color: #ffffff;
    border: 1px solid #b2b2b2;
    padding: 9px;
    border-radius: 3px;
    display: inline-block;
    vertical-align: middle;
}

[id^="checkbox-"]:checked+label {
    background-color: #F47164;
    border: 1px solid #F47164;
}

.section-description-btn {
    margin-bottom: 30px;
}

.display-c {
    cursor: pointer;
    font-size: 1em;
    background-color: #ffffff;
    border: 1px solid #b2b2b2;
    padding: 9px;
    border-radius: 3px;
    display: inline-block;
    vertical-align: middle;
}

.c-active {
    background-color: #F47164;
    border: 1px solid #F47164;
}



/*必读人群结束*/


/*右边的个人意见开始*/

.right-people-opinion {
    position: absolute;
    right: 0;
    width: 49.78%;
    height: 700px;
    margin-top: 10px;
    background: #fff;
    box-shadow: 0 0 5px 2px lightgrey;
    top: 0;
    display: none;
}


.opinion-header {
    height: .6rem;
    line-height: .58rem;
    padding-left: 5%;
    border-bottom: .01rem solid #d6d6d6;
    font-size: .15rem;
}

.opinion-header .close-btn {
    display: inline-block;
    width: 8%;
    height: 13px;
    margin-right: 4%;
    background: url("../images/close.png") center no-repeat;
    cursor: pointer;
}

.opinion-header .op {
    display: inline-block;
    margin-right: 8%;
    cursor: pointer;
}

.opinion-header .active {
    color: #F58171;
    border-bottom: .02rem solid #ff4a4a;
}

.opinion-y {
    display: none;
}


.yes {
    width: 76%;
    padding-left: 22%;
    height: 78px;
    background: url("../images/jiang1.png") 5% center no-repeat;
    background-size: 13%;
    border-bottom: 1px solid #d6d6d6;
}

.yes .info-head {
    height: 45px;
    line-height: 45px;
}

.yes .info-head .people-id {
    float: left;
    font-size: 1rem;
}

.date {
    float: right;
    color: #b1b1b1;
    font-size: 0.8rem;
    margin-right: 4%;
}

.label {
    display: inline-block;
    margin-right: 1%;
    color: #ff9b38;
    font-size: 0.14rem;
}

.lab {
    color: #fff;
    padding: .02rem .05rem;
    background: #ff9b38;
    border-radius: 3px;
}

.opinion-n {
    display: none;
}

.no-head {
    height: 50px;
    line-height: 50px;
    font-size: .15rem;
}

.no .text-left {
    float: left;
    margin-left: 4%;
    font-size: .15rem;
}

.no .text-right {
    float: right;
    margin-right: 4%;
    color: #555;
}

.no .people-info {
    padding-left: 24%;
    width: 76%;
    background: url(../images/jiang1.png)5% center no-repeat;
    background-size: 14%;
    height: 65px;
}

.no .people-info .people-id {
    display: block;
    height: 30px;
    line-height: 30px;
}

.no .opi-info {
    text-indent: 5%;
    line-height: .22rem;
    font-size: 0.14rem;
    color: #555;
    text-indent: 2em;
    padding-left: .2rem;
    padding-top: .15rem;
    padding-right: .2rem;
}

.no-read {
    display: none;
}




/*右边的个人意见结束*/


/* 类别弹窗开始 */


/* 左边 */

.alert-classify {
    position: fixed;
    top: 53px;
    left: 30%;
    /* width: 940px; */
    height: 540px;
    background: #ffffff;
    box-shadow: -9px 10px 20px 0px #e7e7e7;
    display: none;
}

.left-alert-classify {
    width: 265px;
    height: 100%;
    border-right: 1px solid #ececec;
    float: left;
}

.left-alert-classify-title {

    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: .16rem;
    color: #f68271;
    border-bottom: 1px solid #ececec;
}

.left-alert-classify-list {}

.left-alert-classify-list>li {
    color: #555555;
    padding-left: 34px;
    line-height: 34px;
    position: relative;
}

.add-classify {
    height: 56px;
    line-height: 56px;
    color: #333333;
    text-align: center;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    cursor: pointer;
    user-select: none;
}

.alert-classify-close {
    background: url('../images/close.png') no-repeat;
    width: 13px;
    height: 12px;
    display: inline-block;
    position: absolute;
    top: 13px;
    right: 8%;
    cursor: pointer;
}






/* 右边 */

.right-alert-classify {
    width: 670px;
    /* float: right; */
    padding-left: 60px;
    font-size: .16rem;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 55px;
}

.alert-classify-name {
    font-size: .16rem;
    line-height: 49px;
}

.alert-classify-input {

    height: 40px;

    border: 1px solid #ececec;

    width: 85%;

    padding-left: 16px;
}

.alert-btn-box {

    margin-top: 50px;
}

.alert-classify-sure {

    color: #fff;
    background: #f68271;
    display: inline-block;
    width: 90px;
    line-height: 30px;
    text-align: center;
}

.alert-classify-cancel {

    color: #fff;
    background: #c2c2c2;
    display: inline-block;
    width: 90px;
    line-height: 30px;
    text-align: center;
    margin-left: 12px;
}


/* 类别弹窗结束 */


/* 确认删除弹窗开始 */

.alert-delete {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(127, 127, 127, .7);
    z-index: 999;
    display: none;
}

.alert-delete-comfirm {
    width: 31.2%;
    margin: auto;
    background-color: #fff;
    height: 280px;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 265px;
    overflow: hidden;
}

.alert-delete-text {

    font-size: .2rem;
    color: #333;
    line-height: 43px;
    text-align: center;
    margin-top: 60px;
}

.alert-delete-btn-box {

    margin-top: 62px;
    text-align: center;
}

.alert-delete-sure {

    display: inline-block;
    width: 13%;
    background: #f67281;
    line-height: 40px;
    text-align: center;
    border-radius: 2px;
    margin-right: 6%;
    height: 40px;
}

.alert-delete-cancel {

    display: inline-block;
    width: 13%;
    background: #c2c2c2;
    line-height: 40px;
    text-align: center;
    border-radius: 2px;
    height: 40px;
}


/* 确认删除弹窗结束 */