.test-one {
    position: absolute;
    top: 61px;
    left: 0%;
    width: 14.5%;
    height: 1000px;
    background-color: #fff;
    z-index: 999;
    font-size: 25px;
    font-weight:700;
    text-align: center;
    line-height: 100px;
}

.test-two {
    position: absolute;
    top: 60px;
    left: 15%;
    width: 58.6%;
    height: 1000px;
    background-color: #fff;
    z-index: 999;
    font-size: 25px;
    font-weight:700;
    text-align: center;
    line-height: 100px;
}

.test-three {
    position: absolute;
    top: 61px;
    left: 74.2%;
    width: 26%;
    height: 1000px;
    background-color: #fff;
    z-index: 999;
    font-size: 25px;
    font-weight:700;
    text-align: center;
    line-height: 100px;
}